COMFY_HELPER_HOST=127.0.0.1
COMFY_HELPER_PORT=8000
COMFY_HELPER_COMFYUI_URL=http://10.0.0.180:8188/
COMFY_HELPER_COMFYUI_TIMEOUT_SECONDS=10
COMFY_HELPER_ARTIFACT_DIR=artifacts
COMFY_HELPER_DATABASE_PATH=data/comfy-helper.db
COMFY_HELPER_MAX_ARTIFACT_BYTES=52428800
